* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Alegreya Sans";
}
.clr {
  clear: both;
}
/* start navagation bar */
.header {
  background-image: linear-gradient(
      rgba(31, 30, 30, 0.185),
      rgba(0, 0, 0, 0.164)
    ),
    url(img/drew-coffman-1872.jpg);
  height: 130vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.nav-bar {
  width: 95%;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

.logo {
  width: 30%;
  float: left;
  padding-left: 30px;
}

.logo img {
  width: 45%;
}

.nav-list {
  width: 40%;
  float: right;
}

.nav-list ul li {
  list-style: none;
  float: left;
  padding: 10px 15px;
}

.list-link:link,
.list-link:visited {
  color: #fff;
  font-size: 18px;
  font-family: "Alegreya";
  line-height: 32px;
  text-decoration: none;
  transition: all 1s;
}

.list-link:hover,
.list-link:active {
  color: #8e7754;
}
/* end navagation bar */

/* start header */
.main {
  text-align: center;
  padding-top: 150px;
  width: 700px;
  margin: auto;
  color: #fff;
}

.top-heading {
  font-size: 22px;
  line-height: 41px;
  margin: 0px 0px 5px;
}

.first-header {
  font-size: 76px;
  line-height: 91px;
  margin: 0px 0px 18px;
  font-family: "Alegreya";
  font-weight: 400;
}

.main-text {
  font-size: 24px;
  line-height: 45px;
  margin: 10px 0px 20px;
  font-family: "Alegreya Sans";
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Alegreya Sans";
  background-color: transparent;
  color: #fff;
  padding: 15px 28px;
  margin: 0px 5px 12px;
  transition: 1s;
  cursor: pointer;
}

.btn-one {
  background-color: #8e7754;
  border: #8e7754 solid 2px;
}

.btn-two {
  border: #fff solid 2px;
}

.btn-one:hover,
.btn-one:active {
  background-color: #fff;
  color: black;
  border: 2px solid #fff;
}

.btn-two:hover,
.btn-two:active {
  background-color: #fff;
  color: black;
  border: 2px solid #fff;
}
/* end header */

/* The beginning of the second section  */
.who {
  width: 93%;
  margin: auto;
  margin-bottom: 90px;
}

.img-who {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin: 0 60px 0 0;
}

.img-who img {
  width: 100%;
}

.texts-who {
  width: 45%;
  display: inline-block;
  margin: 30px 30px;
  padding: 15px 0 10px;
  vertical-align: baseline;
}

.second-header {
  font-size: 32px;
  font-family: "Alegreya";
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 25px;
}

.who-text {
  margin-bottom: 15px;
}

.who-list ul li,
.who-text {
  font-size: 17px;
  font-family: "Alegreya Sans";
  line-height: 32px;
}

.who-list ul li {
  list-style: none;
}

.list-icon {
  color: #8e7754;
  padding: 15px;
  border: #8e7754 solid 1px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 20px 15px 0;
}
/* end of the first section  */

/* The beginning of the second section  */
.our {
  background-color: #f1f1f1de;
  margin-bottom: 90px;
  padding: 50px 0 90px 0;
}

.main-our {
  width: 95%;
  margin: auto;
}

.texts-our {
  width: 45%;
  display: inline-block;
  margin: 0 25px 0 0;
  vertical-align: middle;
}

.second-header {
  font-size: 32px;
  font-family: "Alegreya";
  font-weight: 400;
  line-height: 44px;
}

.our-text {
  font-size: 17px;
  font-family: "Alegreya Sans";
  line-height: 32px;
}

.img-our {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0 0 90px;
}

.img-our img {
  width: 100%;
}
/* end of the second section  */

/* start of the our baking section  */
.our-baking {
  width: 95%;
  margin: auto;
  text-align: center;
}

.our-baking-text {
  line-height: 41px;
  margin-bottom: 40px;
  padding-top: 30px;
}

.third-header {
  font-size: 30px;
  font-weight: 400;
  font-family: "Alegreya";
}

.our-baking-p {
  font-size: 17px;
  font-family: "Alegreya sans";
  line-height: 32px;
  padding-top: 20px;
}

.our-baking-description {
  width: 33.33%;
  float: left;
  padding: 0 20px;
  margin-bottom: 90px;
}

.our-baking-description img {
  width: 100%;
  margin-bottom: 40px;
}
.our-baking-description h4 {
  font-family: "Alegreya";
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}

.our-baking-description p {
  font-family: "Alegreya sans";
  font-size: 17px;
  line-height: 30px;
}
/* end of the our baking section  */

/* start of map section */
.map-section {
  background-color: #f1f1f1de;
  padding: 50px 0 90px 0;
}

.map-container {
  width: 95%;
  margin: auto;
}

.map-texts {
  width: 42%;
  display: inline-block;
  margin: 0 30px 0 10px;
  vertical-align: middle;
}

.map-texts h2 {
  font-size: 32px;
  font-family: "Alegreya";
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 20px;
}

.map-texts p {
  font-family: "Alegreya sans";
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 30px;
}

.contact {
  font-family: "Alegreya sans";
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}

.map-list ul {
  list-style: none;
}

.map-list ul li {
  font-family: "Alegreya sans";
  font-size: 17px;
  line-height: 30px;
}

.map {
  width: 48%;
  vertical-align: middle;
  margin: 50px 0 60px 70px;
}
/* end of map section */

/* start of footer section one  */
.footer-section {
  background-color: rgb(64, 61, 56);
}

.footer-section-one {
  width: 90%;
  margin: auto;
  color: #999;
  padding: 50px 0 80px 0;
}

/* start of first div */
.about-us {
  width: 26%;
  float: left;
  padding: 25px;
}

.about-us h4 {
  font-size: 18px;
  font-family: "Alegreya";
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.about-p-one,
.about-p-two {
  font-size: 16px;
  font-family: "Alegreya Sans";
  line-height: 30px;
}

.about-p-two {
  margin-top: 20px;
}
/*  end of first div  */

/*  start of second div */
.special {
  width: 25%;
  float: left;
  padding: 25px;
}

.special h4 {
  font-size: 18px;
  font-family: "Alegreya";
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.special ul {
  list-style: none;
  font-size: 16px;
  font-family: "Alegreya Sans";
  line-height: 35px;
}

.special ul li {
  margin-bottom: 10px;
}

.special ul li:nth-child(-n + 4) {
  border-bottom: 1px #888 solid;
}
/*  end of second div */

/*  start of third div */
.opening-hours {
  width: 24%;
  float: left;
  padding: 25px;
}

.opening-hours h4 {
  font-size: 18px;
  font-family: "Alegreya";
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.opening-hours ul {
  list-style: none;
  font-size: 16px;
  font-family: "Alegreya Sans";
  line-height: 35px;
}

.opening-hours ul li {
  margin-bottom: 10px;
}

.opening-hours ul li:nth-child(-n + 6) {
  border-bottom: 1px #888 solid;
}
/*  end of third div */

/*  start of fourth div */

.forth-div {
  width: 25%;
  float: left;
  padding: 25px;
  position: relative;
}

.img-footer {
  opacity: 0.2;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 70px;
}

.contact-details h4 {
  font-size: 18px;
  font-family: "Alegreya";
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.contact-details ul {
  list-style: none;
  font-size: 16px;
  font-family: "Alegreya Sans";
  line-height: 35px;
}

.contact-details ul li {
  margin-bottom: 10px;
}

.contact-details ul li:nth-child(-n + 3) {
  border-bottom: 1px #888 solid;
}
/*  end of fourth div */

/*   start of footer section two  */
.footer-section-two {
  background-color: #353330;
  text-align: center;
  padding: 50px;
}

.footer-section-two img {
  margin-bottom: 30px;
}

.footer-section-two p {
  margin: 10px;
  color: #888;
}

.footer-section-two ion-icon {
  margin-top: 30px;
  width: 60px;
  height: 30px;
  color: #888;
  cursor: pointer;
}
